name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin

      - name: Build Product Service
        run: mvn -f productService/pom.xml clean test

      - name: Build Order Service
        run: mvn -f orderService/pom.xml clean test

      - name: Upload Test Reports
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: |
            product-service/target/surefire-reports
            order-service/target/surefire-reports


  docker:

    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Build Containers
        run: docker compose build

      - name: Run Containers
        run: docker compose up -d

      - name: Wait for services
        run: sleep 30

      - name: Integration Test
        run: |
          curl -f http://localhost:8081/api/products
          curl -f http://localhost:8082/api/orders
